@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("https://fonts.googleapis.com/css?family=Questrial");
* {
  margin: 0 auto;
  padding: 0; }

#wrapper {
  position: relative; }
  #wrapper #titlePageContent {
    width: 768px;
    height: 1024px;
    background-color: #001934;
    text-align: center;
    position: absolute;
    z-index: 2; }
    #wrapper #titlePageContent #titleLogo {
      width: 80px;
      height: 80px;
      padding: 100px 100px 0px 100px; }
    #wrapper #titlePageContent #titleLogoTwo {
      width: 600px;
      height: 200px;
      padding-top: 90px;
      padding-bottom: 150px; }
    #wrapper #titlePageContent button {
      width: 500px;
      height: 75px;
      margin: 0px 50px 0px 50px; }
  #wrapper #formContent {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #001934;
    width: 768px;
    height: 1024px;
    overflow: scroll;
    position: absolute; }
    #wrapper #formContent ::-webkit-scrollbar {
      width: 0px;
      /* remove scrollbar space */
      background: transparent;
      /* optional: just make scrollbar invisible */ }
    #wrapper #formContent h2 {
      color: white;
      text-transform: uppercase;
      padding-bottom: 20px;
      font-family: 'Questrial', sans-serif;
      letter-spacing: 2px;
      font-weight: normal; }
    #wrapper #formContent #logos {
      height: 80px;
      width: 768px;
      background-color: #FFD700;
      position: fixed;
      z-index: 1; }
      #wrapper #formContent #logos h1 {
        font-size: 4em;
        font-family: 'Bangers', cursive;
        color: #000F1E;
        padding-top: 5px;
        letter-spacing: 7px; }
      #wrapper #formContent #logos img {
        width: 80px;
        height: 80px;
        float: left; }
    #wrapper #formContent #locations {
      padding-bottom: 50px;
      width: 768px;
      padding-top: 150px; }
    #wrapper #formContent #activities {
      padding: 50px 0px 50px 0px;
      width: 768px; }
      #wrapper #formContent #activities img {
        width: 500px;
        height: 100px; }
      #wrapper #formContent #activities label {
        width: 200px; }
    #wrapper #formContent #seats {
      padding: 50px 0px 50px 0px;
      width: 768px; }
      #wrapper #formContent #seats img {
        height: 75px;
        width: 75px; }
    #wrapper #formContent #days {
      padding: 50px 0px 50px 0px;
      width: 768px; }
      #wrapper #formContent #days input {
        height: 75px;
        width: 75px;
        font-family: 'Questrial', sans-serif;
        text-align: center;
        font-size: 2em; }
    #wrapper #formContent #vehicles {
      padding: 50px 0px 75px 0px;
      width: 768px; }
      #wrapper #formContent #vehicles img {
        width: 150px;
        height: 95px; }
      #wrapper #formContent #vehicles #largeCar {
        display: none; }
    #wrapper #formContent #locations:hover,
    #wrapper #formContent #activities:hover,
    #wrapper #formContent #seats:hover,
    #wrapper #formContent #days:hover,
    #wrapper #formContent #vehicles:hover {
      background-color: rgba(0, 15, 30, 0.5); }
    #wrapper #formContent label > input {
      /* HIDE RADIO */
      visibility: hidden;
      /* Makes input not-clickable */
      position: absolute;
      /* Remove input from document flow */ }
    #wrapper #formContent label > input + img {
      /* IMAGE STYLES */
      cursor: pointer;
      border: 2px solid transparent; }
    #wrapper #formContent label > input:checked + img {
      /* (RADIO CHECKED) IMAGE STYLES */
      border: 2px solid rgba(255, 215, 0, 0.7); }
